# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Python cache files
__pycache__/
*.py[cod]
*.class

# Ignore environment files
env/
venv/
.venv/
ENV/
*.env

# Ignore Jupyter Notebook metadata
.ipynb_checkpoints/

# Ignore configuration files and data files (optional)
*.env
*.DS_Store
*.log
*.csv
*.sqlite

# Ignore Jupyter Notebook output cells (optional)
*.ipynb_output

# Ignore other temporary files
*.tmp
*.log
*.bak
*.swp
